.discord-container {
	background-color: $background1;
	border: 1px solid $border1;

	width: fit-content;
	padding: 15px;
	border-radius: 10px;
}

.discord-user,
.discord-custom-status,
.discord-user-info {
	display: flex;
	align-items: center;
	justify-content: center;
}

.discord-user-info {
	cursor: pointer;
}

.discord-user-avatar {
	margin-right: 10px;

	img {
		border-radius: 50%;
		height: 76px;
	}
}

.discord-username,
.discord-discrim {
	font-style: normal;
	font-weight: 400;
	font-size: 30px;

	line-height: 30px;
}

.discord-username {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.discord-discrim {
	color: $grey;
}

.discord-status {
	margin-left: 10px;

	height: 15px;
	width: 15px;
	border-radius: 50%;
}

.discord-custom-status {
	justify-content: left;
}

.discord-custom-emoji {
	height: 40px;
}

.discord-custom-emoji-text {
	font-size: 25px;
}

.discord-custom-text {
	font-weight: 400;
	font-size: 20px;

	color: $grey;
	margin-left: 10px;
}

.discord-presences {
	display: flex;
	flex-direction: column;

	margin-top: 10px;
}

.discord-presence-game {
	margin-top: 10px;
}

.discord-presence-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 20px;
	color: $grey;
}

.discord-presence-value {
	font-weight: 400;
	font-size: 20px;
}
