.footer-container-wrapper .page-container {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
}

.footer-container {
	border-top: 2px solid $border1;

	padding-top: 10px;
	padding-left: 2rem;
	padding-right: 2rem;
	margin-bottom: 2rem;

	width: 90%;

	a.button.button-string {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
}

.footer-top {
	display: flex;
	justify-content: space-between;
	align-items: center;

	> p {
		font-size: 20px;
	}
}

.footer-links {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-top: 20px;

	> ul {
		list-style: none;
	}
}

@media screen and (max-width: 800px) {
	.footer-links,
	.footer-top {
		flex-direction: column;
		align-items: unset;
		gap: 20px;
	}

	.footer-top {
		gap: 0px;
	}
}
